# From Eclipse.gitignore
.project
.metadata
.derived
bin/
tmp/**
tmp/**/*
*.tmp
*.~
*.*~
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#classes
callCenter/castoramaCommon/build/classes
